<footer>
  <div class="footer-nav">
    <nav class="footer-menu">
      <ul>
        <li><a href="/" class="scroll-link">Home</a></li>
        <li><a href="/network-management">Network Management</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <ul class="social-media">
      <li><a  href="mailto:contact@getkubo.com" target="_blank"><i class="email-small"></i></a></li>
      <!--
      <li><a href="#" target="_blank"><i class="twitter-small"></i></a></li>
      <li><a href="#" target="_blank"><i class="linkedin-small"></i></a></li>
      -->
    </ul>
  </div>
  <!--
  <div class="company">
    <p>© {{ site.time | date: '%Y' }} Kubo Health. All Rights Reserved.</p>
  </div>-->
</footer>