/*-----------------------
Network Management
-----------------------*/
.description-block{
  background-color: $white-base;
  box-shadow: 0 0 34px 0 rgba(219,219,219,0.50);
  position: relative;
  @include rem(margin, -40px 20px 0px);
  @include rem(padding, 30px 20px);
  z-index: 9;

  @include media($tablet){
    @include rem(margin-top, -100px);
    @include rem(padding, 50px);
  }

  @include media($tablet-landscape){
    @include center;
    @include rem(margin-top, -120px);
  }
}

.network-teaser-kubo-container{
  text-align: center;

  .text-block{
    @include rem(margin-top, 30px);

    @include media($tablet){
      @include span-columns(4 of 12);
    }

    img{
      @include rem(margin-bottom, 10px);
      max-width: 67px;
    }

    h4{
      color: $blue-base;
    }
  }
}


.network-kubo-container{

  .text-block{
    @include rem(margin-bottom, 30px);

    @include media($tablet){
      @include span-columns(5.5 of 12);
      @include omega(2n);
      @include rem(margin-bottom, 70px);

      &:nth-child(even){
        @include shift(1);
      }

    }

    @include media($tablet-landscape){
      @include span-columns(4.75 of 12);
      @include shift(1);

      &:nth-child(even){
        @include shift(0.5);
      }
    }

    &:last-child{
      @include rem(margin-bottom, 0px);
    }
  }
}